* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #732031;
  border-radius: 10px;
  border: 3px solid #fff;
}

::-webkit-scrollbar-button {
  background: #732031;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #732031 #fff;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  background: #f8f9fa !important;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

select {
  display: block;
}

figure {
  margin: 0;
}

a {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

iframe {
  border: 0;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
  text-decoration: none;
  outline: 0;
}

.card-panel {
  margin: 0;
  padding: 60px;
}
.border {
  width: 100%;
  height: 1px;
  background-color: #f4f4f4;
  margin: 20px 0;
}
/* header start*/
#header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.header {
  background: url("../img/headerBg.png");
  background-position: center;
  background-size: cover;
}
.header .navbar-brand img {
  width: 250px;
  height: 100px;
}
.header .navbar-location {
  width: 500px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .navbar-location a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .navbar-location .navbar-location-icon {
  background-color: #fff;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 50px;
}
.header .navbar-location-mobile {
  text-align: center;
  display: flex;
  justify-content: start;
  align-items: center;
}
.header .navbar-location-mobile a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
.header .navbar-location-mobile .navbar-location-icon {
  background-color: #fff;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 50px;
}
.header .header-dropdown-menu {
  margin: 0;
  padding: 0;
}
.header .header-dropdown-menu a:hover {
  background-color: #732031 !important;
  color: #fff !important;
  transition: all 0.4s;
}
.header .navbar-location a {
  text-decoration: none;
  color: #732031;
}
.header .navbar-location a i {
  background-color: #732031;
  padding: 8px;
  color: #fff;
  font-size: 15px;
  border-radius: 50%;
}
.header .navbar-location-mobile a {
  text-decoration: none;
  color: #732031;
}
.header .navbar-location-mobile a i {
  background-color: #732031;
  padding: 8px;
  color: #fff;
  font-size: 25px;
  border-radius: 50%;
}
.header .nav-link {
  text-decoration: none;
  color: #000;
  display: block;
  position: relative;
  transition: color 0.3s ease;
}

.header .nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #732031;
  transition: width 0.3s ease;
}

.header .nav-item:hover .nav-link::before {
  width: 100%;
}

.header .nav-item:hover .nav-link {
  color: #732031 !important;
}
.header .header-nav-link::after {
  display: none !important;
}

.header .dropdown-menu {
  min-width: 0 !important;
  max-width: 50px !important;
}
.header .navbar-nav .nav-item {
  padding: 0 5px;
}
.header .navbar-nav .nav-link {
  color: #000000 !important;
  font-weight: 500;
  font-size: 14px;
  line-height: 60px;
}
.header .navbar-nav .language {
  position: relative;
  display: flex;
  align-items: center;
}

.header .navbar-nav .language .languageFirs {
  margin: 0;
  padding: 10px;
  text-decoration: none;
  color: #000000;
  display: block;
  font-weight: bold;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
}

.header .navbar-nav .language:hover ul {
  display: block;
}

.header .navbar-nav .language ul {
  position: absolute;
  left: 0;
  top: 60px;
  display: none;
  padding: 0;
  z-index: 9999;
  list-style: none;
  width: 100%;
}

.header .navbar-nav .language ul li {
  padding: 5px;
  background: #ffffff;
  width: 100%;
  border-bottom: 1px solid #732031;
  color: #732031;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  transition: all 0.4s;
}
.header .navbar-nav .language ul li:hover {
  background-color: #732031;
  color: #fff;
}
.header .mobil-header-toggle {
  padding: 0;
  margin: 0;
  font-size: 25px;
  border: none;
  color: #f8f9fa !important;
}
.header .mobil-header-menu img {
  width: 250px;
}
.header .mobil-header-close-btn {
  font-size: 25px;
}
.header .mobil-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 2px solid #732031;
}
.header .mobil-menu-list .mobil-menu-item {
  margin-bottom: 20px;
  margin-left: 10px;
  padding: 10px;
}
.header .mobil-menu-list .mobil-menu-item:hover {
  background-color: #732031;
  color: #fff;
}
.header .mobil-menu-list .mobil-menu-item:hover .nav-mobil-link {
  color: #fff !important;
}
.header .mobil-menu-list .mobil-menu-item a {
  text-decoration: none;
  color: #732031;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.4s;
}
.header .mobil-menu-list .dropdown a {
  color: #732031;
  font-size: 20px;
  font-weight: bold;
  margin-left: 5px;
}
/* header end*/

/* home start*/
#banner {
  height: 700px;
  margin-bottom: 50px;
}
.home {
  background: url("../img/homePage1.png");
  height: 400px;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}
.home .home-title {
  color: #fff;
  font-weight: 400;
  text-align: center;
  padding-top: 100px;
}
.home .home-title span {
  font-weight: bold;
}
.home .home-form {
  position: absolute;
  background-color: #fff;
  width: 60%;
  bottom: -350px;
  left: 20%;
}
.home .home-form p {
  font-weight: bold;
  font-size: 16px;
  color: #732031;
  max-width: 450px;
}
.home .home-form h4 {
  font-weight: bold;
  font-size: 16px;
  color: #732031;
  max-width: 450px;
}
.home .home-form label {
  color: #732031;
}
.home .home-form input {
  border: none;
  border-bottom: 1px solid #732031;
  border-radius: 0;
  box-shadow: none;
  outline: none;
}
.home .home-form select {
  border: none;
  border-bottom: 1px solid #732031;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding-right: 1.5em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  color: #732031;
}
.home .home-form select::after {
  content: "\25BC";
  font-size: 1em;
  color: #732031;
  position: absolute;
  right: 0.5em;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
.home .home-form .form-select:focus {
  outline: none !important;
  box-shadow: 0 0 5px #732031 !important;
}

.home .home-form .form-select option {
  background: #732031 !important;
  color: #fff !important;
  border-bottom: 1px solid #fff !important;
  padding: 5px !important;
}

.home .home-form .form-select option::selection {
  opacity: 0.8 !important;
  background: #732031 !important;
  background-color: #732031 !important;
}

.home .home-form .form-select .custom-option {
  background: #732031 !important;
  color: #fff !important;
  border-bottom: 1px solid #fff !important;
  padding: 5px !important;
}
.home .home-form .custom-checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid #732031 !important;
  border-radius: 3px !important;
  position: relative !important;
  appearance: none !important;
  -webkit-appearance: none !important;
  outline: none !important;
  cursor: pointer !important;
}

.home .home-form .custom-checkbox:checked {
  background-color: #732031 !important;
  border: 2px solid #732031 !important;
}

.home .home-form .custom-checkbox:checked::after {
  font-size: 14px !important;
  color: white !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}
.home .home-form .home-from-btn {
  background-color: #732031;
  border: 2px solid #732031;
  color: #fff;
  font-weight: bold;
  padding: 10px 30px;
  transition: all 0.4s;
}
.home .home-form .home-from-btn:hover {
  background-color: #fff;
  color: #732031;
}
.home .home-form .home-from-link {
  text-decoration: none;
  color: #732031;
}
.home .home-form .home-from-link:hover {
  color: #732031;
  opacity: 0.8;
}
/* home end*/

/* office start */
#office {
  background: #732031;
}
/* office end */

/* magazine banner start */
.magazine-banner .magazine-home {
  background: url("../img/banner.png");
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.magazine-banner .magazine-home-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #732031;
  width: 100%;
  opacity: 0.8;
  color: #fff;
  font-weight: bold;
}
/* magazine banner end */

/* magazine news start */
#news .new-list .new-item img {
  height: 200px;
  width: 150px;
  transition: all 0.4s;
}
#news .new-list .new-item img:hover {
  transform: scale(1.1);
}
#news .new-list .new-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
#news .new-list .new-item a {
  text-decoration: none;
  color: #732031;
  margin-top: 10px;
}
#news .new-list .new-item a i {
  margin-inline-start: 10px;
  border: 2px solid #732031;
  border-radius: 50%;
  padding: 2px;
}
/* magazine news end */

/* magazine-text start */
#magazine-text .magazine-text-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
#magazine-text .magazine-text-title h2 {
  max-width: 600px;
  text-align: center;
  color: #732031;
}
#magazine-text .magazine-text-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
#magazine-text .magazine-text-text p {
  max-width: 900px;
  text-align: center;
}
#magazine-text .magazine-text-left .magazine-text-left-header {
  background-color: rgba(97, 26, 41, 1);
  padding: 20px 30px;
  height: 150px;
}
#magazine-text .magazine-text-left .magazine-text-left-header span {
  color: #fff;
  font-weight: bold;
  font-size: 28px;
  line-height: 46px;
}
#magazine-text .magazine-text-left .magazine-text-left-footer {
  background-color: rgba(115, 32, 49, 1);
  padding: 20px 30px;
  height: 450px;
}
#magazine-text .magazine-text-left .magazine-text-left-footer .paragraf-one {
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 30px;
  color: #fff;
}
#magazine-text .magazine-text-left .magazine-text-left-footer .paragraf-two {
  font-weight: 300;
  color: #fff;
}
#magazine-text .magazine-text-right .img {
  position: relative;
}
#magazine-text .magazine-text-right .img img {
  width: 70%;
  height: 80vh;
}
#magazine-text .magazine-text-right .tree img {
  position: absolute;
  top: 0;
  height: 100vh;
  right: -40px;
}
#magazine-text .magazine-text-right .slider-item img {
  width: 200px;
}
#magazine-text .magazine-text-right .slider {
  display: flex;
  overflow: hidden;
  width: 100%;
  position: relative;
}

#magazine-text .magazine-text-right .slider-track {
  display: flex;
  width: calc(200%);
  animation: slide 15s linear infinite;
}

#magazine-text .magazine-text-right .slider-item {
  flex: 0 0 33.33%;
  width: 33.33%;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
/* magazine-text end */

/* magazine-location start */
#location .location-bg {
  background: url("../img/locationBg.png");
  height: 1050px;
}
#location .location-title {
  display: flex;
  align-items: center;
  justify-content: start;
}
#location .location-title h2 {
  font-weight: 600;
  font-size: 78px;
}
#location .location-title span {
  margin-left: 20px;
  color: rgba(168, 168, 168, 1);
  font-size: 32px;
}
#location .location-content-left h4 {
  font-size: 48px;
  margin-bottom: 40px;
}
#location .location-content-right img {
  height: 799px;
  padding: 0;
  margin: 0;
}
#location .location-content-left {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
#location .location-content-left p span {
  font-weight: bold;
}
#location .location-info-left-bg {
  background-color: #fff;
  padding: 20px;
  position: relative;
  border-radius: 5px;
}
#location .location-info-left p {
  background-color: #fff;
  margin-left: 20px;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
}
#location .location-info-left .location-info-left-icon {
  position: absolute;
  top: -20px;
  left: 30px;
  background-color: #000;
  padding: 5px;
  border-radius: 8px;
}
#location .location-info-left .location-info-left-icon i {
  color: #fbff21;
}
#location .location-info-right-bg {
  background-color: #fff;
  padding: 20px;
  position: relative;
  border-radius: 5px;
}
#location .location-info-right p {
  background-color: #fff;
  margin-left: 20px;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
}
#location .location-info-right .location-info-right-icon {
  position: absolute;
  top: -20px;
  left: 30px;
  background-color: #000;
  padding: 5px;
  border-radius: 8px;
}
#location .location-info-right .location-info-right-icon i {
  color: #fbff21;
}
#location .location-map {
  background: url("../img/location.png");
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
}
/* magazine-location end */

/* galery banner start */
#galery-banner .galery-home {
  background: url("../img/banner.png");
  height: 450px;
  width: 100%;
  background-size: cover;
  background-position: bottom;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-top: 40px;
}

#galery-banner .galery-home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(115, 32, 49, 0.6), rgba(115, 32, 49, 0.6));
  z-index: 1;
}

#galery-banner .galery-home > * {
  position: relative;
  z-index: 2;
}

#galery-banner .galery-home img {
  width: 550px;
  height: 500px;
  position: absolute;
  top: 40px;
  right: 10%;
}

#galery-banner .galery-home h2 {
  color: #fff;
  font-weight: bold;
  margin-bottom: 20px;
}
#galery-banner .galery-home span {
  background-color: #fff;
  color: #732031;
  padding: 5px 10px;
  margin-top: 20px;
  font-weight: bold;
  border-radius: 20px;
}
#galery-banner .galery-home .galery-exhibition {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
#galery-banner .galery-home .galery-exhibition .galery-exhibition-category {
  color: #fff;
  font-weight: 400;
}
#galery-banner .galery-home .galery-exhibition .galery-exhibition-name {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#galery-banner .galery-home .galery-exhibition .galery-exhibition-name i {
  font-size: 12px;
  margin-right: 5px;
}
#galery-banner .galery-home .galery-exhibition .galery-exhibition-date {
  color: #fff;
  opacity: 0.6;
}
/* galery banner end */

/* fair start */
#fair ul {
  margin: 20px 0;
  padding: 0;
  display: flex;
  list-style: disc;
  justify-content: start;
  align-items: center;
}
#fair ul li {
  color: #732031;
  margin: 0 20px;
  font-weight: bold;
}
#fair form {
  display: flex;
  justify-content: start;
  align-items: center;
}
#fair form select{
  border: 2px solid #732031;
  color: #732031;
  margin-right: 20px;
  padding: 10px 150px 10px 10px;
  font-size: 16px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
}
#fair form input[type="date"] {
  border: 2px solid #732031;
  color: #732031;
  margin-right: 20px;
  padding: 10px 25px 10px 10px;
  font-size: 16px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
}
#fair form input[type="date"]::-webkit-inner-spin-button {
  display: none;
}
#fair form input[type="date"]::-webkit-calendar-picker-indicator {
  background: none; 
  color: #732031; 
}
#fair form select {
  font-weight: bold;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="%23732031" d="M7 10l5 5 5-5z"/></svg>') no-repeat right 10px center;
}
#fair form input[type="date"] {
  width: 20%; 
  font-weight: bold;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="%23732031" d="M7 10l5 5 5-5z"/></svg>') no-repeat right 10px center;
}
#fair form select option {
  color: #732031;
}

#fair form select:focus,
#fair form input[type="date"]:focus {
  outline: none;
  border-color: #732031;
}
#fair .fair-items .fair-item span {
  color: #bbb4a6;
  font-size: 12px;
  font-weight: 500;
}
#fair .fair-items .fair-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
#fair .fair-items .fair-item h5 {
  color: #732031;
  font-size: 25px;
  font-weight: 700;
}
#fair .fair-items .fair-item .fair-item-p1 {
  color: #732031;
  font-size: 12px;
  font-weight: 300;
}
#fair .fair-items .fair-item .fair-item-p2 {
  color: #732031;
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 0;
  margin-bottom: 0;
}
#fair .fair-items .fair-item .fair-item-p3 {
  color: #732031;
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 0;
  margin-bottom: 0;
}

/* fair end */

/* offer start */
#offer-banner {
  background: url("../img/banner.png");
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: end;
}
#offer-banner .offer-home {
  background-color: #fff;
  width: 95%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px;
}
#offer-banner .offer-home .offer-home-text {
  font-size: 20px;
  font-weight: 400;
}
#offer-banner .offer-home .offer-home-text.active {
  color: #732031;
}
/* offer end */

/* offer cards section start */
#offer-cards-section .offer-cards .offer-card img {
  width: 100%;
}
#offer-cards-section .offer-cards .offer-card .offer-card-text h4 {
  font-size: 20px;
  font-weight: 600;
}
#offer-cards-section .offer-cards .offer-card .offer-card-text p {
  font-size: 12px;
  font-weight: 600;
}
#offer-cards-section .offer-cards .offer-card .offer-card-text span {
  color: #989898;
  font-size: 14px;
  font-weight: 400;
}
/* offer cards section end */

/* floor plan start */
#floor-banner {
  background: url("../img/banner.png");
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#floor-banner h2 {
  text-align: center;
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  margin-top: 50px;
}
#floor-banner .floor-home {
  background-color: #fff;
  width: 95%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px;
}
#floor-banner .floor-home .floor-home-text {
  font-size: 20px;
  font-weight: 400;
  color: #989898;
  cursor: pointer;
  transition: all 0.4s;
}
#floor-banner .floor-home .floor-home-text:hover {
  transform: scale(2);
}
#floor-banner .floor-home .floor-home-text.active {
  color: #732031;
}
/* floor plan end */

/* brands-section start */
#brands-section .brands .brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  transition: all 0.5s;
}
#brands-section .brands .brand:hover {
  transform: scale(1.1);
}
#brands-section .brands .brand .brand-img {
  height: 150px;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
}
#brands-section .brands .brand .brand-img img {
  width: 100%;
}
#brands-section .brands .brand .brand-text {
  margin-top: 10px;
}
#brands-section .brands .brand .brand-text p {
  font-size: 20px;
  font-weight: 600;
}
/* Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content  start*/
.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 85%!important;
  flex-direction: row!important;
  justify-content: space-between;
  align-items: center!important;
}

.modal-content .close {
  color: #732031;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-content .close:hover,
.modal-content .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal-content p{
  color: #732031;
  font-weight: bold;
}
/* Modal Content  end*/

/* brands-section end */

/* collaboration start */
#collaboration h2{
  text-align: center;
  color: #732031;
  font-style: italic;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 30px;
}
#collaboration span{
  font-weight: 300;
}
#collaboration .collaborations .collaboration h4{
  color: #732031;
  font-weight: 600;
}
#collaboration .collaborations .collaboration .card{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: none;
  background-color: #fff;
  height: 150px;
}
#collaboration .collaborations .collaboration img{
  width: 50px;
  height: 50px;
}
#collaboration .collaborations .collaboration p{
  color: #B4B4B4;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}
/* collaboration end  */

/* office start */
#office{
  position: relative;
}

#office .office-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
#office .office-title h2 {
  color: #fff;
  font-size: 40px;
  font-weight: 500;
}
#office .office-offers .office-offer .office-offer-img {
  position: relative;
  width: 300px; 
  height: 350px; 
  width: 100%;
}

#office .office-offers .office-offer .office-offer-img::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #732031 0%, transparent 100%);
  z-index: 2;
}

#office .office-offers .office-offer .office-offer-img img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
#office .office-offers .office-offer .office-offer-img h4 {
  position: absolute;
  bottom: 0;
  color: #fff;
  z-index: 3;
  padding: 0 30px;
  font-size: 25px;
  font-weight: 600;
}
#office .office-offers .office-offer .office-offer-text {
  padding: 0 30px;
}
#office .office-offers .office-offer .office-offer-text p {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  width: 75%;
}
#office .office-offers .office-offer .office-offer-text a {
  text-decoration: none;
  color: #fff;
}
#office .office-offers .office-offer .office-offer-text i {
  margin-right: 10px;
}
#office .slider-item img {
  width: 200px;
  filter: grayscale(100%);
}
#office .slider {
  display: flex;
  overflow: hidden;
  width: 100%;
  position: relative;
}

#office .slider-track {
  display: flex;
  width: calc(200%);
  animation: slide 15s linear infinite;
}

#office .slider-item {
  flex: 0 0 33.33%;
  width: 33.33%;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
#office .office-contents-container {
  position: relative;
  margin-bottom: 350px; 
  height: 550px;
}
#office .office-contents-container .office-contents {
  position: absolute;
  bottom: -250px;
  width: 100%;
}
#office .office-contents .office-content-right{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#office .office-contents .office-content-right .office-content-right-top{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
#office .office-contents .office-content-right .office-content-right-top img{
  margin-bottom: 30px;
}
#office .office-contents .office-content-right .office-content-right-bottom{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
#office .office-contents .office-content-right .office-content-right-bottom p{
 color: #732031;
 font-size: 14px;
}
#office .office-contents .office-content-right .office-content-right-bottom a {
  text-decoration: none;
  font-weight: bold;
  color: #732031;
}
#office .office-contents .office-content-right .office-content-right-bottom a i{
  margin-right: 10px;
}
/* office end */
/* slider start */
.slider-item img {
  width: 200px;
}
 .slider {
  display: flex;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.slider-track {
  display: flex;
  width: calc(200%);
  animation: slide 15s linear infinite;
}

 .slider-item {
  flex: 0 0 33.33%;
  width: 33.33%;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
/* slider end */
/* blogs start */
#blog{
  background-color: #fff;
}
#blog .blog-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
#blog .blog-title h2{
  color: #732031;
  font-size: 40px;
  font-weight: 500;
}
#blog .blog-title p{
  color: #732031;
  font-weight: 400;
  font-size: 20px;
}
#blog .blog-card {
  position: relative;
  height: 700px;
  width: 100%;
  background: #fff;
  margin: auto;
  border-radius: 25px;
}

#blog .blog-card .inner-part {
  height: 540px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
}

#blog #imgTap:checked ~ .inner-part {
  padding: 0;
  transition: 0.1s ease-in;
}

#blog .blog-card .inner-part .img {
  height: 400px;
  width: 100%;
  flex-shrink: 0;
  overflow: hidden;
  cursor: pointer;
}

#blog .blog-card .inner-part .img img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  opacity: 0;
  transition: 0.6s;
}

#blog #tap-1:checked ~ .inner-part .img .img-1,
#blog #tap-2:checked ~ .inner-part .img .img-2,
#blog #tap-3:checked ~ .inner-part .img .img-3 {
  opacity: 1;
  transition-delay: 0.2s;
}

#blog .blog-card .inner-part .content {
  padding: 0 20px 0 35px;
  width: 100%;
  margin-left: 50px;
  opacity: 0;
  transition: 0.6s;
}

#blog #tap-1:checked ~ .inner-part .content-1,
#blog #tap-2:checked ~ .inner-part .content-2,
#blog #tap-3:checked ~ .inner-part .content-3 {
  opacity: 1;
  margin-left: 0;
  z-index: 100;
  transition-delay: 0.3s;
  margin-top: 20px;
  padding: 0;
}

#blog input {
  display: none;
}

#blog .blog-card .inner-part .content span {
  font-size: 22px;
  font-weight: 500;
  color: #7b7992;
  margin-bottom: 10px;
  display: block;
}

#blog .blog-card .inner-part .content .title {
  font-size: 30px;
  font-weight: 600;
  color: #732031;
  margin-bottom: 15px;
}

#blog .blog-card .inner-part .content .text {
  font-size: 18px;
  color: #732031;
  text-align: justify;
  margin-bottom: 20px;
  font-weight: 500;
}

#blog .blog-card .inner-part .content button {
  border: none;
  outline: none;
  padding: 10px 0;
  cursor: pointer;
  color: #732031;
  font-weight: bold;
  text-transform: uppercase;
  background: #fff;
}

#blog .blog-card .inner-part .content button:hover {
 opacity: .8;
}

#blog .blog-card .inner-part .content button i{
  margin-right: 15px;
}

#blog .blog-card .sliders {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 12;
}

#blog .blog-card .sliders .tap {
  display: inline-block;
  height: 10px;
  width: 50px;
  background: #d9d9d9;
  border-radius: 5px;
  margin: 0 3px;
  cursor: pointer;
  position: relative;
}

#blog .blog-card .sliders .tap::before {
  content: "";
  position: absolute;
  height: 100%;
  width: -100%;
  top: 0;
  left: 0;
  border-radius: 5px;
  transform-origin: left;
  transform: scaleX(0);
  transition: 0.6s;
  background: #732031;
}

#blog #tap-1:checked ~ .sliders .tap-1::before,
#blog #tap-2:checked ~ .sliders .tap-2::before,
#blog #tap-3:checked ~ .sliders .tap-3::before {
  width: 100%;
  transform: scaleX(1);
}
/* blogs end */

/* solutions start */
#solutions .solutions-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#solutions .solutions-title h2{
  color: #732031;
  font-weight: 500;
  font-size: 40px;
}
#solutions .solutions-title p{
  color: #732031;
  font-weight: 500;
  font-size: 16px;
  max-width: 70%;
}
#solutions .solutions .solution{
  padding: 0 20px;
}
#solutions .solutions .solution .solution-header{
  background-color: #681A2A;
  padding: 30px 40px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  border-radius: 5px 5px 0 0;
  height: 100px;
}
#solutions .solutions .solution .solution-header p{
  margin: 0;
  font-weight: 600;
}
#solutions .solutions .solution .solution-footer{
  background-color: #732031;
  padding: 30px 40px;
  color: #fff;
  border-radius: 0 0 5px 5px;
  height: 300px;
}
#solutions .solutions .solution .solution-footer ul{
  padding: 0;
  margin: 0;
  list-style:disc;
}
#solutions .solutions .solution .solution-footer ul li{
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
}
#solutions .solutions .solution-1 .solution-footer ul li{
  margin-bottom: 25px;
}
#solutions .solutions .solution-2 .solution-footer ul li{
  margin-bottom: 10px;
}
#solutions .solutions .solution-3 .solution-footer ul li{
  margin-bottom: 25px;
}
#solutions .solutions a{
  text-decoration: none;
  color: #732031;
  font-weight: bold;
}
#solutions .solutions i{
  margin-right: 15px;
}
/* solutions end */

/* contact form start */
#contactForm label {
  color: #732031;
}
#contactForm input {
  border: none;
  border-bottom: 1px solid #732031;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  background-color: #f8f9fa;
}
#contactForm select {
  border: none;
  border-bottom: 1px solid #732031;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding-right: 1.5em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  color: #732031;
}
#contactForm select::after {
  content: "\25BC";
  font-size: 1em;
  color: #732031;
  position: absolute;
  right: 0.5em;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
#contactForm .form-select:focus {
  outline: none !important;
  box-shadow: 0 0 5px #732031 !important;
}

#contactForm .form-select option {
  background: #732031 !important;
  color: #fff !important;
  border-bottom: 1px solid #fff !important;
  padding: 5px !important;
}

#contactForm .form-select option::selection {
  opacity: 0.8 !important;
  background: #732031 !important;
  background-color: #732031 !important;
}

#contactForm .form-select .custom-option {
  background: #732031 !important;
  color: #fff !important;
  border-bottom: 1px solid #fff !important;
  padding: 5px !important;
}
#contactForm .custom-checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid #732031 !important;
  border-radius: 3px !important;
  position: relative !important;
  appearance: none !important;
  -webkit-appearance: none !important;
  outline: none !important;
  cursor: pointer !important;
}

#contactForm .custom-checkbox:checked {
  background-color: #732031 !important;
  border: 2px solid #732031 !important;
}

#contactForm .custom-checkbox:checked::after {
  font-size: 14px !important;
  color: white !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}
#contactForm .home-from-btn {
  background-color: #732031;
  border: 2px solid #732031;
  color: #fff;
  font-weight: bold;
  padding: 10px 30px;
  transition: all 0.4s;
}
#contactForm .home-from-btn:hover {
  background-color: #fff;
  color: #732031;
}
#contactForm .home-from-link {
  text-decoration: none;
  color: #732031;
}
#contactForm .home-from-link:hover {
  color: #732031;
  opacity: 0.8;
}
/* contact form end */

/* payments start  */
#payments .payments .payment{
  display: flex;
  justify-content: center;
  align-items: center;
}
#payments .payments .payment img{
  width: 200px;
  height: 200px;
}
#payments .payments .payment .payment-content h4{
  color: #732031;
  font-weight: 600;
  margin-bottom: 20px;
}
#payments .payments .payment .payment-content p{
  color: #732031;
  font-weight: 400;
}
/* payments end  */

/* footer start */
.footer {
  background: #732031;
  color: #fff;
}
.footer .footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer-logo img {
  width: 360px;
  filter: brightness(0%) invert(1);
  text-align: center;
}
.footer h4 {
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  position: relative;
}
.border-footer {
  width: 30%;
  background-color: #f4f4f4;
  height: 1px;
  position: absolute;
  left: 35%;
}
.footer .footer-h5 {
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}
.footer .footer-text {
  text-align: center;
  color: #fff;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 300;
}
.footer .footer-number {
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
.footer .footer-mail {
  color: #fff;
  text-align: center;
  font-size: 20px;
}
.footer .footer-social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer .footer-social-links .footer-social-link {
  background-color: #fff;
  height: 38px;
  width: 38px;
  margin: 0 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer-social-links a {
  color: #732031;
  font-size: 20px;
}
.footer-end {
  background-color: #6a1d2c;
}
.footer-end .footer-end-p1 {
  color: #fff;
  text-align: center;
  font-size: 12px;
  letter-spacing: 1px;
}
.footer-end .footer-end-p2 {
  color: #fff;
  text-align: center;
  font-size: 12px;
  letter-spacing: 1px;
}
.footer-end a {
  color: #fff;
}
.footer-end a:hover {
  color: #fff;
  opacity: 0.8;
}
/* footer end */

/* mobile start */
@media (max-width: 992px) {
  /* header start */
  .header .navbar-brand {
    text-align: center;
  }
  .header .navbar-nav .nav-link {
    line-height: 30px !important;
  }
  .header .navbar-brand img {
    width: 150px;
    height: 85px;
  }
  .header .navbar-location {
    width: 100px !important;
    text-align: right;
  }
  .header .navbar-location a {
    padding-right: 10px;
  }
  .header .navbar-location a i {
    font-size: 25px;
  }
  .header .header-container .navbar-location {
    display: none !important;
  }
  /* header end */

  /* home start*/
  #banner {
    height: 750px;
  }
  .home .home-title {
    padding-top: 140px;
  }
  .home .home-form {
    width: 90%;
    top: 50%;
    left: 5%;
  }
  .home .home-form p {
    font-size: 14px;
  }
  .home .home-form label {
    font-size: 9px;
    padding: 0;
    margin: 0;
  }
  /* home end */

  /* contact form start */
  #contactForm .home-form p {
    font-size: 14px;
  }
  #contactForm label {
    font-size: 9px;
    padding: 0;
    margin: 0;
  }
  /* contact form end */

  /* magazine text start */
  #magazine-text .magazine-text-right .img img {
    width: 100%;
    height: 80vh;
  }
  #magazine-text .magazine-text-right .tree img {
    position: absolute;
    top: 0;
    height: 100vh;
    left: -200px;
  }
  /* magazine text end */

  /* location start */
  #location .location-title {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }
  #location .location-title span {
    margin-left: 0;
  }
  #location .location-content-right img {
    display: none;
  }
  #location .location-info-left-bg {
    padding: 10px;
  }
  #location .location-info-left p {
    background-color: #fff;
    margin-left: 0;
    font-weight: bold;
    font-size: 10px;
    margin-bottom: 10px;
  }
  #location .location-info-right p {
    font-size: 10px;
  }
  #location .location-info-right-bg {
    padding: 10px;
  }
  #location .location-info-right p {
    background-color: #fff;
    margin-left: 0;
    font-weight: bold;
    font-size: 10px;
    margin-bottom: 10px;
  }
  #location .location-info-right p {
    font-size: 10px;
  }
  /* location end */

  /* galery banner start */
  #galery-banner .galery-home img {
    display: none;
  }
  /* galert banner end */

  /* fair start */
  #fair ul li {
    font-size: 20px;
    margin: 15px 20px;
  }
  #fair form select {
    padding: 10px 45px 10px 10px;
  }
  #fair form input[type="date"] {
    width: 100%; 
  }
  #fair ul {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  /* fair end */

  /* offer start */
  #offer-banner .offer-home {
    justify-content: space-evenly;
    padding: 25px;
  }
  #offer-banner .offer-home .offer-home-text {
    font-size: 14px;
    font-weight: 600;
  }
  /* offer end */

  /* floor plan start */
  #floor-banner .floor-home {
    padding: 20px;
  }
  #floor-banner h2 {
    margin-top: 100px;
  }
  #floor-banner .floor-home .floor-home-text {
    font-size: 12px;
    font-weight: 600;
  }
  /* floor plan end */
  /* office start  */
  #office .office-contents-container {
    height: 800px;
  }
  #office .office-contents-container .office-contents {
    bottom: -350px;
  }
  #office .office-contents .office-content-right .office-content-right-bottom p{
    font-size: 12px;
   }
  /* office end */
  /* collaboration start */
  #collaboration h2{
    font-size: 30px;
  }
  /* collaboration end */
  /* blog start */
  .blog-card {
    height: 750px!important;
  }
  .blog-card .inner-part {
    height: 650px!important;
  }
  /* blog end */

  /* solutions start */
  #solutions .solutions-title p{
    max-width: 100%;
  }
  /* solutions start */

}
/* mobil end */
