*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif!important;
}
.border{
    width: 100%;
    height: 1px;
    background-color: #F4F4F4;
    margin: 20px 0;
}
.link-effect{
    width: 100%;
    height: 2px;
    background-color: #732031;
    text-align: center;
}
.link-effect:hover{
    width: 100%;
    height: 1px;
    background-color: #732031;
    text-align: center;
}
/* header start*/
.header .navbar-brand img{
    width: 250px;
    height: 100px;
}
.header .navbar-location{
    width: 500px;
    text-align: center;
}
.header .header-dropdown-menu{
    margin: 0;
    padding: 0;
}
.header .header-dropdown-menu a:hover{
    background-color: #732031!important;
    color: #fff!important;
    transition: all .4s;
}
.header .navbar-location a{
    text-decoration: none;
    color: #732031;
}
.header .navbar-location a i{
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
}
.header .header-nav-link::after{
    display: none!important;
}

.header .dropdown-menu{
    min-width: 0!important;
    max-width: 50px!important;
}
.header .navbar-nav .nav-item{
    padding: 0 5px;
}
.header .navbar-nav .nav-link{
    color: #000000!important;
    font-weight: 500;
    font-size: 14px;
    line-height: 60px;
}
.header .mobil-header-toggle{
    padding: 0;
    margin: 0;
    font-size: 25px;
    border: none;
    color: #f8f9fa!important;
}
.header .mobil-header-menu img{
    width: 250px;
}
.header .mobil-header-close-btn{
    font-size: 25px;
}
.header .mobil-menu-list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.header .mobil-menu-list .mobil-menu-item{
    margin-bottom: 20px;
    margin-left: 10px;
    padding: 10px;
}
.header .mobil-menu-list .mobil-menu-item:hover{
    background-color: #732031;
    color: #fff;
}
.header .mobil-menu-list .mobil-menu-item:hover .nav-mobil-link{
    color: #fff!important;
}
.header .mobil-menu-list .mobil-menu-item a{
    text-decoration: none;
    color: #732031;
    font-size: 20px;
    font-weight: bold;
    transition: all .4s;
}
.header .mobil-menu-list .dropdown a{
    color: #732031;
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
}
/* header finish*/

/* home start*/
.home{
    background: url("../img/homePage1.png");
    height: 400px;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
.home .home-title{
    color: #fff;
    font-weight: 400;
    text-align: center;
    padding-top: 100px;
}
.home .home-title span{
    font-weight: bold;
}
.home .home-form{
    position: absolute;
    background-color: #fff;
    width: 60%;
    top: 50%;
    left: 20%;
}
.home .home-form p{
    font-weight: bold;
    font-size: 16px;
    color: #732031;
    max-width: 450px;
}
.home .home-form h4{
    font-weight: bold;
    font-size: 16px;
    color: #732031;
    max-width: 450px;
}
.home .home-form label{
    color: #732031;
}
.home .home-form input{
    border: none; 
    border-bottom: 1px solid #732031; 
    border-radius: 0; 
    box-shadow: none; 
    outline: none; 
}
.home .home-form select{
    border: none; 
    border-bottom: 1px solid #732031; 
    border-radius: 0; 
    box-shadow: none; 
    outline: none; 
    background-color: transparent; 
    padding-right: 1.5em; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
    position: relative; 
    color: #732031; 
}
.home .home-form select::after{
    content: '\25BC'; 
    font-size: 1em;
    color: #732031; 
    position: absolute;
    right: 0.5em;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; 
}
.home .home-form select option{
    color: #732031; 
}
.home .home-form .custom-checkbox {
    width: 20px;
    height: 20px;
    border: 2px solid #732031!important; 
    border-radius: 3px!important; 
    position: relative!important;
    appearance: none!important; 
    -webkit-appearance: none!important;
    outline: none!important; 
    cursor: pointer!important;
}

.home .home-form .custom-checkbox:checked {
    background-color: #732031!important; 
    border: 2px solid #732031!important;
}

.home .home-form .custom-checkbox:checked::after {
    font-size: 14px!important;
    color: white!important; 
    position: absolute!important;
    top: 50%!important;
    left: 50%!important;
    transform: translate(-50%, -50%)!important;
}
.home .home-form .home-from-btn{
    background-color:#732031;
    border: 2px solid #732031;
    color: #fff;
    font-weight: bold;
    padding: 10px 30px;
    transition: all .4s;
}
.home .home-form .home-from-btn:hover{
    background-color: #fff;
    color: #732031;
}
.home .home-form .home-from-link{
    text-decoration: none;
    color: #732031;
}
.home .home-form .home-from-link:hover{
    color: #732031;
    opacity: .8;
}
/* home finish*/

/* footer start */
.footer{
    background: #732031;
    color: #fff;
}
.footer h4{
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    position: relative;
}
.border-footer{
    width: 30%;
    background-color: #F4F4F4;
    height: 1px;
    position: absolute;
    left: 35%;
}
.footer .footer-h5{
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
.footer .footer-text{
    text-align: center;
    color: #fff;
    margin-top: 30px;
}
.footer .footer-number{
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.footer .footer-mail{
    color: #fff;
    text-align: center;
    font-size: 20px;
}
.footer .footer-social-links{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer .footer-social-links a{
    background-color: #fff;
    padding: 10px;
    margin: 0 10px;
    border-radius: 50%;
    color: #732031;
}
.footer-end{
    background-color: #6A1D2C;
}
.footer-end .footer-end-p1{
    color: #fff;
    text-align: center;
    font-size: 12px;
    letter-spacing: 1px; 
}
.footer-end .footer-end-p2{
    color: #fff;
    text-align: center;
    font-size: 12px;
    letter-spacing: 1px; 
}
.footer-end a{
    color: #fff;
}
/* footer finish */
@media(max-width:978px){
    .header .navbar-brand{
        text-align: center;
    }
    .header .navbar-nav .nav-link{
        line-height: 30px!important;
    }
    .header .navbar-brand img{
        width: 150px;
        height: 85px;
    }
    .header .navbar-location{
        width: 100px!important;
        text-align: right;
    }
    .header .navbar-location a{
        padding-right: 10px;
    }
    .header .navbar-location a i{
        font-size: 25px;
    }
    .header .header-container .navbar-location-span{
        display: none;
    }
    /* home */
    .home .home-title{
        padding-top: 140px;
    }
    .home .home-form{
        width: 90%;
        top: 50%;
        left: 5%;
    }
    .home .home-form p{
        font-size: 14px;
    }
    .home .home-form label{
        font-size: 9px;
        padding: 0;
        margin: 0;
    }
}